body {
	background-image:url("../images/got.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
	margin: 20px auto;
	display: block;
}

.col-md-12 {
	text-align: center;
	
}

.col-md-12 h1 {
	font-size: 50px;
	color: white;
	font-family: 'Spectral SC', serif;
}



.col-md-4 img {
	padding: 40px;
	width: 400px;
	height: 300px;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: .3s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: .3s ease-in-out;	
}

.col-md-4 img:hover {
	border: 5px solid white;
	-webkit-filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .3s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .3s ease-in-out;	
}

#jonAttr, #danyAttr, #cerseiAttr {
	text-align: center;
	color: white;
	font-family: 'Spectral SC', serif;
	font-size: 15px;
}

#user {
	padding-top: 170px;
}

#attack {
	text-align: center;
	padding-top: 300px;
	font-size: 50px;
	color: white;
	font-family: 'Spectral SC', serif;
}

.btn.btn-danger {
	font-size: 30px;
	color: white;
	font-family: 'Spectral SC', serif;
}

#select {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Spectral SC', serif;
}


